.textArea{
    width: 100%;
}
.padding_b_10px{
    padding-bottom: 10px!important;
}
.marging_b_10px{
    margin-bottom: 10px!important;
}
.marging_b_15px{
    margin-bottom: 15px!important;
}
.padding_l_10px{
    padding-left: 10px;
}
.card{
    padding-left: 10px;
    margin-bottom: 20px!important;
}